<style type="text/css">
	body{background:#ffffff;color:#000000;font:0.9em "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;}
	a:hover{color: #ff6835;}
    a:visited {color: #c63200;}
	h1,h2,h3,h4,h5,h6{padding:0px;margin:0px;}
	h1 a:link{text-decoration:none;color:#FFFAFA;}
	h1 a:visited{text-decoration:none;color:#FFFAFA;}
	h1{padding:18px 0px 10px 5%;margin:0px 0px 8px 0px;border-top:solid 9px #FF7F50;border-bottom:solid 1px #DEB887;color:#FFFAFA;background:#8e2400;font:bold 266% Verdana,Sans-Serif;}
	h2{margin:0px 0px 10px 0px;padding:2px 0px 2px 5px;border-right:solid 1px #f5f5f5;border-bottom:solid 1px #dddddd;border-top:solid 1px #f5f5f5;border-left:solid 1px #f5f5f5;color:#555555;background:#eeeeee;font:bold 110% Verdana,Sans-Serif;}
	.details{margin:10px 10px 10px 10px;padding:2px 2px 2px 2px;display:none}
</style>